@import "../color/color.scss";

/* prefix */
$mox-prefix: mox;

/* color */
$primary-color: $base-blue;
$primary-color-hover: $base-blue-hover;
$danger-color: $base-red;
$danger-color-hover: $base-red-hover;
$border-color-base: #f0f0f0;
$white: #fff;
$black: #000;

/* font */
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-lg: 16px;

/* padding size */
$padding-lg: 24px; // containers
$padding-md: 16px; // small containers and buttons
$padding-sm: 12px; // Form controls and items
$padding-xs: 8px; // small items
$padding-xss: 4px; // more small

// vertical padding for all form controls
$control-padding-horizontal: $padding-sm;
$control-padding-horizontal-sm: $padding-xs;

/* margin size */
$margin-lg: 24px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

// height rules
$height-base: 32px;
$height-lg: 40px;
$height-sm: 24px;

/* transition */

/* button */
$btn-padding-base: 4px $padding-md - 1px;
$btn-padding-sm: 0 $padding-xs - 1px;
$btn-padding-lg: 6px $padding-md;

$btn-height-base: $height-base;
$btn-height-sm: $height-sm;
$btn-height-lg: $height-lg;

$btn-radius-base: 2px;
$btn-radius-sm: 1px;
$btn-radius-lg: 4px;

$btn-font-size-base: $font-size-base;
$btn-font-size-sm: $font-size-sm;
$btn-font-size-lg: $font-size-lg;

$btn-border-width: 1px;

$btn-default-color: $black;
$btn-default-bg: $white;
$btn-default-border: #d9d9d9;
$btn-default-hover: $primary-color;

$btn-primary-color: $white;
$btn-primary-bg: $primary-color;
$btn-primary-border: $primary-color;
$btn-primary-hover: $primary-color-hover;

$btn-danger-color: $white;
$btn-danger-bg: $danger-color;
$btn-danger-border: $danger-color;
$btn-danger-hover: $danger-color-hover;

$btn-disabled-opacity: 0.6;
